# Intellij
.idea/
*.iml
*.iws
.idea/**

# Mac
.DS_Store
SantoriniOnline/.idea/**
SantoriniOnline/src/main/java/model/NaiveTesting.java
SantoriniOnline/SantoriniOnline.iml
SantoriniOnline/target/**
desktop.ini
Icon
