.split-pane-divider {
    -fx-background-color: transparent;
}

.left-pane{
    -fx-background-color: rgba(0,168,355,0.08);
    -fx-background-radius: 12;
}

.right-pane{
    -fx-background-color: rgba(0,168,355,0.08);
    -fx-background-radius: 12;
}

.challenger-card-hbox{
    -fx-background-color: rgba(0,168,355,0.10);
    -fx-background-radius: 12;
}

.player-choise-vbox{
    -fx-background-color: rgba(0,168,355,0.10);
    -fx-background-radius: 12;
}

.player-tile-pane{
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.wait-pane{
    -fx-background-color: rgba(0,168,355,0.30);
    -fx-background-radius: 12;
}

.glow-back-pane{
    -fx-background-color: greenyellow;
    -fx-background-radius: 12;
}

.card-unavailable-overlay{
    -fx-background-color: grey;
    -fx-background-radius: 12;
}

.scroll-bar:vertical{
    -fx-background-color: transparent;
}

.flow-pane {
    -fx-background-color: transparent;
}